
 <h1 >LISTA DE PRODUCTOS</h1>
 {{#if productsDb.length}}
        {{#each productsDb}} 
        <div class="recuadro">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: ${{precio}}</p>
            <p>Código: {{code}}</p>
            {{#if stock}}
            <p class="hayStock">Stock: {{stock}} unidades</p>
            {{else}}
            <p class="noHayStock">Stock: {{stock}} unidades</p>
            {{/if}}
        </div>

        {{/each}}
    {{else}}
        <p>No hay productos para mostrar.</p>
    {{/if}}
</div>